.medya-wrapper {
    
 background-color:#5C5C5C;
  padding-top: 50px;
  padding-bottom: 100px;
}

/*Video Modal*/
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.video-modal-icerik {
  position: relative;
  width: 90%;
  max-width: 960px;
  height: auto;
  padding-top: 40px;
}

.video-frame {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.video-kapat {
  position: absolute;
 top: 0; 
  right: 0;
  font-size: 32px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.medya-slogan
{
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.medya-slogan p {
  margin-bottom: 0;
  display: flex;
  align-items: center; 
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: -0.51px; 
  color: #939393
}
.logo-medya {
  display: flex;
  align-items: center;
  
}

.logo-img {
  height: 40px; 
  width: auto;
}

.medya-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal; 
  font-size: 30px;
  line-height: 1; 
  letter-spacing: 0;
  color: #ffffff; 
}

.slider-baslik-text{
  margin-top: 50px;
padding-top: 50px;
}
.slider-baslik-heading{
  margin-bottom: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal; 
  font-size: 18px;
  line-height: 1; 
  letter-spacing: 0;
  text-transform: uppercase;
  color: #939393; 
}
.medya-slider {
 display: flex;
 position: relative; 
 overflow: visible; 
 padding-top: 32px;
 padding-bottom: 32px;
 height: 430px;
 min-height: 300px;
 min-width: 430px;
}
.slider-card {
  width: 340px;
  height: 236px;
  flex: 0 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                opacity 0.5s ease, 
                width 0.5s ease; 
  opacity: 1;
  margin-right: 24px;
  transform: scale(1);
  transform: translateX(0);
}

/*  transition: opacity 0.4s ease, transform 0.4s ease; */
.slider-card:last-child {
  margin-right: 0;
}

.slider-card.active {
 width: 430px !important; 
   height: 300px !important;
  transform: scale(1.05);
  z-index: 2;
}

.slider-card.hidden {
opacity: 0;
width: 0 !important; 
min-width: 0 !important; 
margin: 0 !important; 
padding: 0 !important;
flex-basis: 0 !important; 
flex-grow: 0 !important;
flex-shrink: 1 !important;
  opacity: 0;
  transform: scale(0.1) translateX(-200%);
  pointer-events: none;
  transform: translateX(-100%);
}


.slider-card:hover .slider-img {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}



.slider-video-wrapper {
  width: 100%;
  height: 100%;
  flex: 1 0 auto;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.slider-video-wrapper img,
.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;       
  object-position: center; 
  border-radius: 20px;
}



.slider-baslik {
 font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal; /* "Medium" yerine normal, çünkü CSS'te sadece normal veya italic geçerlidir */
  font-size: 32px;
  line-height: 1; /* %100 karşılığı */
  letter-spacing: -0.02em; /* -2% karşılığı */
  color: #F69930;
  padding-top: 10px;
}

.slider-meta {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 8px;
  margin-bottom: 8px;
  padding-top: 10px;
}
.slider-icon {
  width: 26px;
  height: 26px;
  color: #D9D9D9;
}

.slider-metin {
font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal; /* "Medium" yerine normal, çünkü CSS'te sadece normal veya italic geçerlidir */
  font-size: 16px;
  line-height: 1; /* %100 karşılığı */
  letter-spacing: -0.02em; /* -2% karşılığı */
  vertical-align: middle;
  color: #D9D9D9;
  margin-bottom: 0
}


/* Progres bar zemin ve ilerleme */


.nmedya-slider-buttons {
  display: flex;
  gap: 10px;
}

.nmedya-slider-buttons img {
  cursor: pointer;
  width: 36px;
  height: 36px;

}
.slider-icon {
  color: #B1B1B1;
  transition: color 0.3s ease;
  cursor: pointer;
}

.slider-icon:hover {
  color: #F69930;
}/* Progres bar */
.medya-progres {
  height: 4px;
  background-color: #B1B1B1;
  border-radius: 2px;
  margin-top: 15px;
  padding-left: 0 !important; 
    padding-right: 0 !important;
}

.medya-progres-inner {
  height: 100%;
  width: 0%;
  background-color: #F69930;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.tum-videolari-button {
  width: 340px;
  height: 48px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 8px;
  opacity: 1;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal; /* "Medium" yerine normal, çünkü CSS'te sadece normal veya italic geçerli */
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: #000; /* İsteğe göre metin rengi ayarlanabilir */
  cursor: pointer;
}
.medya-videolar-button {
  margin-top: 24px; /* Dilersen 32px veya 40px de yapabilirsin */
}
@media (max-width: 768px) {
 
   .medya-slider {
    display: flex;
    flex-direction: row;
    
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
  }

 
  .slider-card {
    flex: 0 0 auto;
    width: 280px;
    height: auto;
    margin-right: 16px;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  .slider-card:last-child {
    margin-right: 0;
  }

  .slider-video-wrapper {
    aspect-ratio: 16 / 9;
    height: auto;
  }
  .logo-medya {
    margin-bottom: 20px;
  }
}