.ana-satir {
  position: relative;
  height: 511px;
  min-height: 511px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 85px;
  padding-bottom: 85px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.tanitim-wrapper {
  position: relative;
  background-color: rgba(38, 38, 38, 1);
  background-image: url("/static/img/tanitim-zemin.png");
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain; /* veya cover */
  background-position: right center; /* istediğin konuma göre ayarlanabilir */
}

/*Video Bölümü*/
.video-wrapper {
  position: relative;
  overflow: visible;
  padding: 0;
  
}

.video-player {
 width: 609px;
  height: 343px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

/*Sağ Alan*/
.sag-alan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.sag-icerik {
  margin-right: -45px;
}
.sag-baslik {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  line-height: 55px;
  letter-spacing: 0;
  text-align: right;
  vertical-align: middle;
  color: rgba(147, 147, 147, 1);
}

.sag-aciklama {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 55px;
  line-height: 55px;
  letter-spacing: 0;
  text-align: right;
  vertical-align: middle;
  color: rgba(147, 147, 147, 1);
}

.sag-slogan {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 0;
  text-align: right;
  vertical-align: middle;
  color: rgba(246, 153, 48, 1);
}

.bottom-divider-wrapper-tanitim {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 5px;
  overflow: visible; /* taşmayı engellemesin */
  bottom: -3px;
  z-index: 70;
}

.bottom-divider-line-tanitim {
  position: relative;
  top: 0;
  width: 612px;
  height: 6px;
  bottom: 0;
  background-color: #f69930;
  border-radius: 5px;
  margin-left: calc(100% *2 / 12);
  display: block;
}

.video-play-img {
 position: relative;
  width: 609px;
  height: 343px;
  margin-left: -45px;
  overflow: visible;
}

.video-play-overlay {
position: absolute;
  top: 50%;
  left: calc(50% - 10px); 
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}

.play-icon {
  width: 64px;
  height: 64px;
  opacity: 0.8;
}
@media (max-width: 1919px) {
  .bosluk-1920 {
    display: none !important;
  }
 .video-player{
  left: -200px;
 }
 .video-play-overlay {
    left: 10%; /* sola kaydırma yok artık */
    transform: translate(-10%, -50%);
  }
 
  .sag-baslik {
    font-size: 26px;
    line-height: 26px;
  }

  .sag-aciklama {
    font-size: 30px;
    line-height: 30px;
  }

  .sag-slogan {
    font-size: 22px;
    line-height: 22px;
  }
 
}
/* Responsiv ayarları */
@media (max-width: 1199px) {
  .ana-satir{
    height: auto;
    min-height: auto;
  }
  .video-wrapper {
    margin-left: 0;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
  }

  .video-play-img {
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  .video-player {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .video-play-overlay {
    left: 50%; /* sola kaydırma yok artık */
    transform: translate(-50%, -50%);
  }
 
    .sag-alan {
    min-height: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
  }

  .sag-icerik {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .sag-baslik {
    font-size: 22px;
    line-height: 22px;
  }

  .sag-aciklama {
    font-size: 26px;
    line-height: 30px;
  }

  .sag-slogan {
    font-size: 18px;
    line-height: 22px;
  }

  
}
@media (max-width: 991px) {
  .tanitim-wrapper {
    background-position: center bottom;
    background-size: 100%;
    padding-left: 10px;
    padding-right: 20px;
  }
  .sag-icerik {
    display: flex;
    flex-direction: column;
    align-items: center; /* satırları ortalar */
    justify-content: center;
  }

  .satir-baslik,
  .satir-aciklama,
  .satir-slogan {
    width: 100%;
    max-width: 600px;
  }

  .sag-alan {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sag-baslik {
    font-size: 20px;
    line-height: 32px;
    text-align: r;
  }

  .sag-aciklama {
    font-size: 36px;
    line-height: 40px;
    text-align: right;
  }

  .sag-slogan {
    font-size: 28px;
    line-height: 32px;
    text-align: right;
  }
  
}
@media (max-width: 767px) {
  .video-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    
  }

  .video-play-img {
    margin-left: 0;
    width: 100%;
    height: auto;
  }
  .video-play-overlay {
    left: 50%; 
  }

  .video-player {
    width: 100%;
    height: auto;
    position: static;
    border-radius: 12px;
  }
}