{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base_css/_medya.css' %}">
{% endblock %}

{% block content %}
<section class="medya-wrapper">
  <div class="container-fluid">
    <div class="row medya_ana_satir">
      
      <!-- Sol boşluk -->
      <div class="col-12 col-lg-2"></div>

      <!-- İçerik alanı -->
      <div class="col-12 col-lg-10 medya-icerik-wrapper">
        <!-- Row -->
        <div class="row">
          
            <!-- Logo ve Slogan -->
            <div class="col-5 logo-medya">logo olacak</div>

            <div class="col-7 medya-slogan">slogan olacak</div>

            <!-- Slider başlık metni -->
            <div class="col-12 slider-baslik-text">
                <h2 class="slider-baslik-heading">Sahadan Güncel Görüntüler</h2>
            </div>
            <!-- Slider başlık metni -->
            <!-- Slider alanı-->
            <div class="col-12 medya-slider">
                {% for video in medya_videolar %}
                    <div class="slider-card" onclick="acVideo('{{ video.video_url }}')">
                        <div class="slider-video-wrapper">
                            <img src="https://img.youtube.com/vi/{{ video.video_id }}/maxresdefault.jpg" alt="{{ video.baslik }}" class="slider-img">

                        </div>

                        <h3 class="slider-baslik">{{ video.baslik }}</h3>
                        <div class="slider-meta">
                            <img src="{% static 'img/' %}{{ video.ikon }}" class="slider-icon" alt="ikon">
                            <span class="slider-metin">{{ video.metin }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
           <!-- Progres bar -->
            
        </div>
        <!-- Row -->
      </div>
      <!-- İçerik alanı -->
    </div>
    <!-- medya ana satır -->
  </div>
</section>

<div id="videoModal" class="video-modal">
  <div class="video-modal-icerik">
    <button class="video-kapat" onclick="kapatVideo()">×</button>
    <iframe id="videoFrame" class="video-frame" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<script>
  function acVideo(url) {
    const modal = document.getElementById("videoModal");
    const frame = document.getElementById("videoFrame");
    frame.src = url + "?autoplay=1";
    modal.style.display = "flex";
  }
  function kapatVideo() {
    const modal = document.getElementById("videoModal");
    const frame = document.getElementById("videoFrame");
    frame.src = "";
    modal.style.display = "none";
  }
</script>


{% endblock %}
