{% comment %} İstersen slider geçişine fade efekti, swipe desteği veya otomatik geçiş ekleyebiliriz. Hazırsan bir sonraki adıma geçelim. {% endcomment %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base_css/_tanitim.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid tanitim-wrapper anim-sag">
  <div class="row ana-satir">
    
    <!-- boş alan için -->
     <div class="col-12 col-lg-3 bosluk-1920" style="height: 1;"> 

     </div>
        <!-- slider alan -->
    
      <div class="col-12 col-lg-3 video-wrapper">
        <div class="video-play-img">
          <video class="video-player" muted playsinline poster="{{ tanitim_video.poster_url }}">
            <source src="{{ tanitim_video.video_url }}" type="video/mp4">
            Tarayıcınız video etiketini desteklemiyor.
          </video>
           <div class="video-play-overlay" onclick="this.previousElementSibling.play(); this.style.display='none';">
            <img src="/static/img/play-icon.svg" alt="Play" class="play-icon">
          </div>
        </div>
      </div>
    

      

    <!-- Sağ alan -->
    <div class="col-12 col-lg-3 sag-alan">
      <div class="row sag-icerik">
        <div class="col-12 satir-baslik anim-giris anim-ust">
            <h2 class="sag-baslik">AKLİVA TANITIM FİLMİ</h2>
        </div>
        <div class="col-12 satir-aciklama anim-giris anim-sol">
          <p class="sag-aciklama">Kaliteyle güven</p>
          <p class="sag-aciklama">inşa ediyoruz</p>
        </div>
        <div class="col-12 satir-slogan anim-giris anim-sag">
          <p class="sag-slogan">Akliva İnşaat</p>
        </div>
      </div>
    </div>
    <!-- boş alan için -->
    <div class="col-12 col-lg-3 bosluk-1920 ">  </div>
    
  </div>
    <div class="bottom-divider-wrapper-tanitim">
        <div class="bottom-divider-line-tanitim"></div>
    </div>   

</section>

{% endblock %}




{% block extra_js %}
{% endblock %}


