{% extends 'base.html' %}
{% load static %}

{% block title %}Kurumsal - Akliva İnşaat{% endblock %}

{% block content %}
    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        height:200px;
        text-align: center;
        background-color: #343434;
        margin-Top: 20px;
        
    ">
        <h1 style="
            color: #F69930;
            font-size: 5em; 
            font-weight: bold;
            display: inline-block; 
            border: 5px solid black; 
            padding: 20px 40px;
            border-radius: 10px;
            line-height: 1.2; 
        ">
            Kurumsal
        </h1>
    </div>
{% endblock %}